html {
    background-color: #F5F5F5;
  }
  
  .size {
    width: 1024px;
    margin: auto;
  }
  
  .header {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .wrapper {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
  }
  
  .foto {
    float: left;
    margin: 0 20px 0 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  
  .name {
    height: 250px;
  }
  
  .contacts_checkbox {
  max-width: 1024px;
      padding: 0 20px;
      margin: 5% 10%;
  }
      .hide_1,
  .hide_1 + label ~ div {
      display: none;
  }
  .hide_1 + label {
      margin: 0;
      padding: 0;
      color: green;
      cursor: pointer;
      display: inline-block;
  }
  .hide_1:checked + label {
      color: red;
      border-bottom: 0;
  }
  
  .hide_1:checked + label + div {
      display: block; 
      background: #efefef;
      -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
      -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
      box-shadow: inset 3px 3px 10px #7d8e8f;
      margin-left: 20px;
      padding: 10px;
       -webkit-animation:fade ease-in 0.5s; 
       -moz-animation:fade ease-in 0.5s;
       animation:fade ease-in 0.5s; 
  }
  @-moz-keyframes fade {
      from { opacity: 0; }
  to { opacity: 1 }
  }
  @-webkit-keyframes fade {
      from { opacity: 0; }
  to { opacity: 1 }
  }
  @keyframes fade {
      from { opacity: 0; }
  to { opacity: 1 }   
  }
  .hide_1 + label:before {
      background-color: #1e90ff;
      color: #fff;
      content: "\002B";
      display: block;
      float: left;
      font-size: 14px; 
      font-weight: bold;
      height: 16px;
      line-height: 16px;
      margin: 3px 5px;
      text-align: center;
      width: 16px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
  }
  .hide_1:checked + label:before {
      content: "\2212";
  }
  
  
  
  
   .checkbox_2 {
      max-width: 1024px;
      padding: 0 20px;
      margin: 5% 10%;
  }
      .hide,
  .hide + label ~ div {
      display: none;
  }
  
  .hide + label {
      margin: 0;
      padding: 0;
      color: green;
      cursor: pointer;
      display: inline-block;
  }
  .hide:checked + label {
      color: red;
      border-bottom: 0;
  }
  
  .hide:checked + label + div {
      display: block; 
      background: #efefef;
      -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
      -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
      box-shadow: inset 3px 3px 10px #7d8e8f;
      margin-left: 20px;
      padding: 10px;
       -webkit-animation:fade ease-in 0.5s; 
       -moz-animation:fade ease-in 0.5s;
       animation:fade ease-in 0.5s; 
  }
  @-moz-keyframes fade {
      from { opacity: 0; }
  to { opacity: 1 }
  }
  @-webkit-keyframes fade {
      from { opacity: 0; }
  to { opacity: 1 }
  }
  @keyframes fade {
      from { opacity: 0; }
  to { opacity: 1 }   
  }
  .hide + label:before {
      background-color: #1e90ff;
      color: #fff;
      content: "\002B";
      display: block;
      float: left;
      font-size: 14px; 
      font-weight: bold;
      height: 16px;
      line-height: 16px;
      margin: 3px 5px;
      text-align: center;
      width: 16px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
  }
  .hide:checked + label:before {
      content: "\2212";
  }
  
  .footer {
    display: flex;
    text-align: left;
    align-items: left;
    justify-content: space-evenly;
   
  }
  
  
    .foto {
      float: flex;
      margin: 0;
    }
    